
{{!--
<div class="py-1" role="none">
  <div
    type="button"
    href="#"
    role="menuitem"
    tabindex="-1"
    class={{classnames
      "text-gray-700 block px-4 py-2 text-sm"
      pointer-events-none=@disabled
      hover:pointer=(not @disabled)
      hover:bg-gray-100=(not @disabled)
      hover:text-gray-900=(not @disabled)
      cursor-default=@disabled
    }}
    {{...this.args}}
    ...attributes
  >
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{or @title "Option"}}
    {{/if}}
  </div>
</div> --}}

{{#if (has-block)}}
  {{yield (component "app-ui/dropdown/menu/item")}}
{{else}}
  {{or @title "Option"}}
{{/if}}
